streamlit
langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.72
langchain-google-genai==2.1.8
langsmith==0.4.8
numpy==2.2.6
pandas==2.3.1
matplotlib==3.10.5
Pillow==11.3.0
scipy==1.16.1
beautifulsoup4==4.13.4
requests==2.32.4
python-dotenv==1.1.1
pdfminer.six==20250506
pypdfium2==4.30.0
fpdf2==2.8.3
langchain-chroma==0.2.5  # 추가됨
pysqlite3-binary
aiosqlite==0.21.0
langchain-openai==0.3.28